* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    max-width: auto;
    margin: 0 auto;
}

.blue {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,4,51,0.3),rgba(12,4,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* END OF NAV BAR STYLES*/

.content {
    text-align: center;
}

.content h1 {
    font-size: clamp(3.125rem, -5.4688rem + 27.5vw, 10rem);
    color: #fff;
    font-weight: 600;
    transition: 0.5s ease;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.Join-Us {
    color: white
}

button {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    background: none;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 50px;
    width: 190px;
    font-size: 30px;
    z-index: 2;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
}

button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background: #1043ec;
    z-index: -1;
    transition: 0.3s ease-in all;
}

button:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: white;
    transition: 0.4s 0.02s ease-in all;
}

button:hover {
    cursor: pointer;
    color: transparent;
}

button:hover:before {
    left: 120%;
    width: 25%;
}

button:hover:after {
    left: 100%;
    width: 70%;
}

button:hover > .icon-right.after:after {
    left: -80px;
    color: #1043ec;
    transition: 0.2s 0.2s ease all;
}

button:hover > .icon-right.after:before {
    left: -104px;
    top: 14px;
    opacity: 0.2;
    color: #f0f2f7;
}

.icon-right {
    position: absolute;
    top: 0;
    right: 0;
}

.icon-right:after {
    font-family: "FontAwesome";
    content: "→";
    color: white;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 27px;
    transform: translate3D(0, -55%, 0);
}

.icon-right.after:after {
    left: -250px;
    color: #f1f1f1;
    transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
}

.icon-right.after:before {
    content: "";
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: 0.2s ease-in all;
}

.signature {
    position: fixed;
    font-family: sans-serif;
    font-weight: 100;
    bottom: 10px;
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #f5f6f8;
    text-transform: uppercase;
    text-decoration: none;
}

button:hover {
    color: #f0eded;
}

.firstletter-B {
    color: blue;
    font-size: 300px;
}

.firstletter-B:hover {
    color: blue;
    font-size: 350px;
    transition: .5s ease;
}

/*END OF CONTENT*/

/*For My Background Video*/

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .background-clip {
        width: auto;
        height: 100%;
    }
}

/*WELCOME AREA*/

.BluePhenix-2 {
    color: blue;
    font-size: 65px;

}

div .welcome-1{
    font-size: 80px;
    color: rgb(61, 61, 102);
}

/*COURSES*/

.bread-1 {
    width: 200px;
}

.bread-12 {
    width: 100px;
}

/*button for courses*/
.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Call-Us:hover {
    box-shadow: 4px 2px 35px 1px rgba(59,76,209,0.61);
    -webkit-box-shadow: 4px 2px 35px 1px rgba(59,76,209,0.61);
    -moz-box-shadow: 4px 2px 35px 1px rgba(59,76,209,0.61);
transition: .5s ease;
}

/*Why Choose UsParagraph*/
.certified-green {
    color: green;
}

.earn-1 {
    color: gold;
}


a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

a::before,
a::after {
content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
}

a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
a:hover::after {
    transform: translate3d(0, 0, 0);
}

a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
    transform: translate3d(-200%, 0, 0);
}
/*Why Choose UsParagraph*/


/*Footer*/
.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
    margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
    padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
    text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
    display:block;
    margin-right:0;
    font-weight:600
}
}
